/*
 * Stylesheet for tiamat.name
 * 
 * tab width:	4 spaces
 * author: 		Evzhenkov Svyatoslav
 * date: 		august 2010 - 2011
 */			
html{
	
}
 
body{
	margin: 0px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	min-width: 770px;
	text-align:center;
}
strong, h4, h5, h6, b{ /*make them same as <p> element*/
	margin-top: 7px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
}
h1{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size: 28px;
	margin-left: 200px;
	margin-right: 200px;
	text-transform: capitalize;
}

.page-title{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size: 36px;
	margin-left: 200px;
	text-transform: capitalize;
}

h2{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 21px;
	margin-bottom: 0px;
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 5px;
	font-weight: normal;
}
h2 + p{
	margin-top: 1px;
}

h3{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin-bottom: 3px;
	margin-left: 200px;
	font-weight: normal;
}
h3 + p{
	margin-top: 1px;
}

img{
	margin-left: auto;
    margin-right: auto;
	border: none;
	display:block;
}

figcaption{
	font-family:georgia, serif;
	font-style: italic;
	margin-left: 200px;
	margin-right: 200px;
	text-align: center;
}

img.small{ /* small image or favicon */
	float: right;
	text-align:right;
	margin: 10px 0px 10px 10px;
	display: block;
	border-radius: 8px;
}
img.fullcontext{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 8px;
}

textarea, input{
	width: 100%;
	margin-bottom: 10px;
}

table, th, td{
	border: 1px solid #555;
	border-collapse: collapse;
	padding: 3px;
}

pre{
	margin-left:200px;
	padding-left: 20px;
}

#wrapper{
	align:center;
	text-align:center;
	margin: 0px auto;
	width: 1200px;
}

#navigation{
	background-color:#ffffff;
	width: 820px;
	padding: 10px 10px 10px 10px;
	text-align: center;
	margin-left: 200px;
}

#navigation_categories {
	float: left;
	width: 695px;
	text-align: left;
	padding-left: 20px;
}

.page-title {
	margin-left: 200px;
	font: courier 20px;

}

#navigation_categories ul, #navigation_categories li{
	padding:0px;
	margin:0px;
	list-style-type: none;
	list-style:none;
	text-align: justify;	
	margin-top: 3px;
	margin-left: 5px;
	display: inline-block;
	text-transform: capitalize;
}
#navigation_categories a:link, #navigation_categories a:active, #navigation_categories a:visited {
	/*display: block;*/
	text-align: center;
}

#navigation_categories a:hover{
	width: 100%;
	/*display: block;*/
 	text-decoration: none; 
	text-align: center;
}

#content{
	position:relative;
	float: left;
	padding: 20px;
	width: 1200px;
	text-align:left;
}

#content a, #content a:focus, #content a:active, #content a:link {
	text-decoration: underline;
}

#content a:visited{
	text-decoration: underline;
}

#content a:hover{
	text-decoration: none;
}

#content blockquote {
	display: block;
	margin-left: 200px;
	width: 800px;
}

#content blockquote p{
	margin-left: 0px;
	padding-left: 30px;
	width: 770px;
	font: 16px italic Arial;
}

#content ol, #content ul{
	margin-left: 200px;
	width: 770px;
	display: block;
	font-size: 18px;
}

#credentials, #credentials a{
	font-family: "Courier New", Courier, monospace;
	font-size: 8px;
	color: #555;
	line-height: 9px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
}

#nav-above{
	margin-bottom: 20px;
}

#t1_tl{
	width: 100px;
	height: 90px;
	margin-left: -10px;
	float: left;
}

.cat-item{
	margin: 2px 0px 2px 0px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
}


.entry-meta{
	text-align: right;
	font-family: "Courier New", Courier, monospace;
	font-size: 10px;
	line-height: 13px;
	margin-bottom: 30px;
	padding-right: 200px;
}
.entry-meta p{
	margin: 0px 0px 3px 0px;
	width: 800px;
	margin-left: 200px;
}
.post-date {
	color: #555;
}
.nav-previous {
	float:left;
	margin-left: 200px;
}
.nav-next {
	float: right;
	margin-right: 200px;
}

.entry-content p, #comments{
	text-align: justify;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	width: 800px;
	display: block;
	margin-left: 200px;
	margin-right: 200px;
	line-height: 1.4;

}

#likely{
	width: 800px;
	display: inline;
}

#disqus_thread {
	margin-left:200px;
	margin-right:200px;
}

.edit-link{
	margin-left:200px;
	margin-right:200px;
}

.entry-content img{
	text-align: center;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.entry-content img.x1200{
	text-align: center;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -200px;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.entry-content img.xwide{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 2400px;
	margin-left: -820px;
	display: block;
	height: auto;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}